<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Student gelöscht</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
	<h1>Folgender student gelöscht!</h1>
	<div>
		<table border="1">
			<tr>
				<th>Matr.Nr.</th>
				<th>Vorname</th>
				<th>Nachname</th>
			</tr>
			<tr th:each="student : ${students}">
				<td th:utext="${student.matriculationNo}">...</td>
				<td th:utext="${student.firstName}">...</td>
				<td th:utext="${student.lastName}">...</td>
			</tr>
		</table>
	</div>
</body>
</html>